/*
 * Base structure
 */

body {
  font-family: 'Alegreya Sans', sans-serif;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
}

h2 {
  font-size: 22px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: #7198C5;
}

h3 {
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: #DADADA;
}

h4 {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  color: #7198C5;
}

h5{
  font-size: 14px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: rgba(113,152,197,0.41);
}

h6 {
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: rgba(113,152,197,0.41);
}

/*
 * Form styles
 */
form{
  margin-top: 40px;
}

.form-group {
  padding: 0 10px;
}

.form-group div{
  padding: 5px 2px;
}

input{
  background: #FFFFFF;
  border: 1px solid #D9DDE7;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 35px;
  color: #7198C5;
}

input[type=submit]{
  background: #7198C5;
  border: 1px solid #D9DDE7;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: #FFFFFF;
}

::-webkit-input-placeholder {
  color: #DADADA;
  font-weight: 800;
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: #DADADA;
  font-weight: 800;
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #DADADA;
  font-weight: 800;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #DADADA;
  font-weight: 800;
  font-style: italic;
}



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F26350;
    border-right: 1px solid #eee;
  }
  .sidebar .logo-offset img{
    display: block;
    margin: 20px auto 50px -100px;
  }
  .logo-offset{
    width: 1px;
    margin: auto;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover {
  color: #F26350;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #7198C5;
}


/*
 * Main content
 */

.main {
  padding: 0;
}
@media (min-width: 768px) {
  .main {

  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Calendar navigation styles
 */

.date-bar{
  background: #F1F3F9;
  border-bottom: 1px solid #DADADA;
  text-align: center;
  min-height: 55px;
}

.date-bar h2{
  display: inline-block;
  margin-top: 15px;
  min-width: 140px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: -4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}

.arrow-left {
  margin-right: 30px;
  border-right: 10px solid rgba(113,152,197,0.30);
}

.arrow-right {
  margin-left: 30px;
  border-left: 10px solid rgba(113,152,197,0.30);
}


/*
 * Canvas styles
 */

.canvas {
  display: flex;
  overflow-x: auto;
  display: -webkit-flex;
  webkit-flex-direction: row;
  flex-direction: row;
  padding: 15px 15px 5px 15px;
  height: calc(100vh - 55px);
}

.month-canvas {
  padding: 20px 40px;
}

.month-canvas .col {
  padding-right: 35px;
  padding-left: 35px;
}

.month-bin:nth-child(2) {
  margin-top: 0;
}



/*
 * Bin styles
 */

.bin {
  padding: 10px;
  overflow-y: auto;
  background: #F1F3F9;
  border-radius: 5px;
  border: 1px solid #DADADA;
  height: calc(100vh - 140px);
}

.day-bin {
  max-width: 200px;
  min-width: 200px;
}

.month-bin {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  height: initial;
}

.bin-wrapper {
  max-width: 270px;
  min-width: 270px;
  display: block;
  clear: none;
  float: left;
  margin: 0 15px;
}

.month-canvas .bin-wrapper {
  max-width: none;
  min-width: none;
  width: 100%;
  margin: 0;
}

/*
 * Employee card styles
 */

.employee{
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin: 5px auto;
  cursor: pointer;
}

.employee h4 {
  margin-bottom: 5px;
}

.employee-rating {
  height: 2px;
  width: 100%;
  background-color: #DADADA;
  border: 2px solid #DADADA;
  margin-bottom: 5px;
}

.employee-group > h6 {
  margin-top: 25px;
}

.employee-open-zone {
  border: 1px dashed #7198C5;
  border-radius: 3px;
  margin-bottom: 5px;
}

/*
 * Actionbar and schedule view push styling
 */

.action-bar-default {
  border-right: 1px solid #DADADA;
  background: #F1F3F9;
  position: fixed;
  width: 16.666666667%;
  width: calc(100% / 6);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto;
  display: none;
}

@media (min-width: 768px) {
  .action-bar-default {
    display: block;
  }
}

.action-bar-default.action-bar-open {
  left: 16.666666667%;
  left: calc(100% / 6);
}

.x-close {
  color: rgba(113,152,197,0.41);
  font-weight: 800;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.x-close:hover {
  text-decoration: none;
  color: #7198C5;
}

/* Push classes applied to the schedule */

.schedule-default {
  overflow-x: hidden;
  position: relative;
  z-index: 998;
  left: 0;
}

.schedule-default.schedule-push-right {
  left: 16.666666667%;
  left: calc(100% / 6);
}

/* Transitions */

.action-bar-default,
.schedule-default,
.gig-card {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*
 * card styles for month view
 */

 .events-circle-list {
    text-align: center;
    margin: 0px auto;
    width: 90%;
 }

 .events-circle-green {
   border-radius: 50%;
   width: 15px;
   height: 15px;
   background-color: #A8E5A7;
   display: inline-block;
   padding-left: 10px;
   border: 2px solid #A8E5A7;
  /* width and height can be anything, as long as they're equal */
 }

 .events-circle-blue {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #6BCFFF;
  display: inline-block;
  padding-left: 10px;
  border: 2px solid #6BCFFF;
 }

 .events-circle-red {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #F26350;
  display: inline-block;
  padding-left: 10px;
  border: 2px solid #F26350;
 }

 .month-events-number {
  font-family: 'Alegreya Sans', sans-serif;
  color: #7198C5;
  font-size: 48px;
  text-align: left;
  padding-left: 5px;
  /*float: left;*/
 }

/*
 * Gig card styles for week view
 */

.gig-card {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin: 10px 0;
  cursor:pointer;
  position: relative;
  height: 130px;
  overflow: hidden;
}

.gig-card .staff-graphs {
  height: 40px;
  overflow-y: auto;
}

.gig-card .bar-graph {
  display: inline-block;
  width: 50%;
  height: 8px;
  background-color: #F1F3F9;
  margin: 4px 0;
  border: 0 solid #F1F3F9;
  border-radius: 4px;
}

.gig-card .bar-graph > div {
  width: 80%;
  height: 8px;
  padding: 2px;
  background-color: #7198C5;
  border: 0 solid #7198C5;
  border-radius: 4px;
}

.gig-card h2 {
  display: inline-block;
  text-align: left;
  margin-left: 15px;
  margin-top: 11px;
  width: 65%;
}

.gig-card div.time-span {
  position: absolute;
  top: 0;
  right: 15px;
}

.gig-card h5 span {
  display: block;
  clear: both;
}

.month-gig-card {
  display: inline-block;
  min-width: 90px;
  max-width: 90px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.health {
  width: 100%;
  padding: 1px;
  height: 4px;
  background-color: #A8E5A7;
  position: absolute;
  bottom: 4px;
}

/*
 * Month view styles
 */

.month-bin .gig-card {
  margin: 0.2%;
  padding: 10px;
  text-align: left;
  min-height: 100px;
  cursor: default;
  width: calc(100% / 7 - 0.4%);
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.month-bin .gig-card:hover {
  border-color: #7198C5;
}

.month-bin .gig-card.selected-date {
  border-color: #7198C5;
}

.month-bin .gig-card a {
  text-decoration: none;
  cursor: default;
}

.month-bin .gig-card h2 {
  margin: 0;
  font-size: 28px;
  text-align: left;
  display: inline-block;
}

.month-bin .gig-card h2.off-calendar-date {
  color: #DADADA;
}

.month-bin .dot-list {
  bottom: 5px;
  display: table-cell;
  vertical-align: bottom;
  position: absolute;
  line-height: 0;
}

.month-bin .dot-health {
  width: 12px;
  height: 12px;
  margin: 2px 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #A8E5A7;
}

.month-canvas ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.month-canvas ul li {
    display: inline-block;
    width: calc( 100% / 7 );
}



/*
 * Date picker styles
 */

.date-picker .dp-inner {
  flex-direction: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  flex-flow: column;
  box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.date-picker .dp-footer {
  flex-direction: row;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  flex-flow: row;
  box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.date-picker .dp-body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.date-picker .dp-body .dp-table {
  width: 100%;
  height: 100%;
}

.date-picker .dp-nav-table {
  width: 100%;
}

.date-picker {
  overflow: hidden;
  font-size: 14px;
  height: 250px;
  border: 1px solid #D9DDE7;
  border-radius: 4px;
  margin-top: 10px;
  color: #7198C5;
}

.date-picker .dp-cell {
  text-align: center;
  color: inherit;
  background: inherit;
  /*border: 1px solid #a8a8a8;*/
}

.date-picker .dp-cell.dp-in-range {
  background: #e2f0ff;
}

.date-picker .dp-cell.dp-disabled {
  cursor: default;
  opacity: 0.3;
  color: #5c5c5c;
  background: inherit;
}

.date-picker .dp-cell.dp-value,
.date-picker .dp-cell:hover {
  color: #fff;
  font-weight: bold;
  background: #7198C5;
}

.date-picker .dp-cell.dp-current {
  font-weight: bold;
}

.date-picker .dp-cell.dp-in-range.dp-current,
.date-picker .dp-cell.dp-in-range.dp-value {
  background: #e2f0ff;
}

.date-picker .dp-cell.dp-month {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date-picker .dp-footer {
  padding: 5px 0 0 0;
  justify-content: center;
  -webkit-justify-content: center;
  flex-pack: center;
  -ms-flex-pack: center;
  border-top-width: 0px;
}

.date-picker .dp-footer .dp-footer-selected,
.date-picker .dp-footer .dp-footer-today {
  padding: 5px 15px;
}

.date-picker td:focus, .dp-footer-today, .dp-footer-selected {
  outline: 0;
}

.date-picker td {
  cursor: default;
}

.date-picker .dp-day,
.date-picker .dp-month,
.date-picker .dp-year,
.date-picker .dp-next-nav,
.date-picker .dp-prev-nav,
.date-picker .dp-nav-view,
.date-picker .dp-footer-today,
.date-picker .dp-footer-selected {
  cursor: pointer;
}

.date-picker .dp-next-nav,
.date-picker .dp-prev-nav {
  width: 20%;
}

.date-picker .dp-footer-today,
.date-picker .dp-footer-selected {
  border: 1px solid #D9DDE7;
  border-radius: 4px;
  margin: 0 5px;
}

.date-picker .dp-next,
.date-picker .dp-prev {
  color: #D9DDE7;
}
